/* CSS reset*/

* {
  margin: 0px;
  padding-top: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(97, 97, 193);
}

.main {
  margin-top: 15px; /* Add a top margin to avoid content overlay */
  background-color: cadetblue;
}

.navbar {
  display: block;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #ffb700;
  width: 100%;
  background-color: black;
  overflow: visible;
  height: 50px;
}

.link {
  display: inline-flex;
  text-align: center;
  padding: 13px;
  color: rgb(178, 243, 39);
  text-decoration: none;
  font-size: 8 ems;
  font-weight: 200;
}

.link:hover {
  border-bottom: 4px solid rgb(233, 180, 8);
}

.active {
  border-bottom: 4px solid #ffb700;
}

.section-view {
  margin-top: 50px;
  padding-top: 30px;
  border: solid 4px white;
  height: 100dvh;
  background-color: grey;
}
